[Desktop Entry]
Type=Application
Name=Yakuake
Name[es]=Yakuake
GenericName=Drop-down terminal
Comment=Drop-down terminal (Gorgoroth)
Comment[es]=Terminal desplegable (Gorgoroth)
Exec=/usr/bin/yakuake
Icon=yakuake
Terminal=false
X-KDE-autostart-after=panel
X-GNOME-Autostart-enabled=true
