[Desktop Entry]
Name=Gorgoroth
Comment=Gorgoroth: recolored from "Monochrome" by Patrik Wyde.
X-KDE-PluginInfo-Author=Patrik Wyde
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=patrik@wyde.se
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Gorgoroth
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Website=https://github.com/luquitas45/luquitas45.dotfiles
